.h_user_btn{
    padding: .5rem;
    border:none;
    border-radius:10px;
    width: auto;
    height: auto;
    background:var(--color-text);
    color:var(--color-text-card);

    cursor:pointer;
}

.h_user_btn.logged{
   border-radius:50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}