.service-card {
    border: 1px solid var(--color-border);
    border-radius: 10px;
    box-shadow: var(--shadow-card);

     background-color: var(--color-card-service);
     color: var(--color-text-service);

    padding: 1rem;

    min-width: 100px;
    max-width: 280px;
    min-height: 200px;
    height: auto;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}
/*
*/
.service-info{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.service-info hr{
    margin-bottom: 1rem;
    
}

.service-info h3{
    text-align: center;
    margin-bottom: .2rem;
      color: var(--color-text-card);
}



.service-info p{
    margin-bottom: .5rem;
    font-size: 14px;
}



.price ins {
  text-decoration: none; /* elimina el subrayado */
  color: #01b413;        /* color destacado */
  font-weight:bold;
  font-size: 20px;
    margin-right: .2rem;
}



.service-info button{
    margin-top: 1rem;
    align-self: center;
    width: 90%;
    height: auto;
    padding: .5rem;

    background-color: var(--color-card-service-hover);
    color: white;

    border: 1px solid var(--color-text-service-sucess);
    border-radius: 6px;
}