.service-card {
  display: flex;
  width: 400px;
  background-color: white;
  border: 1.5px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 10px;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  flex-shrink: 0;
}
/*
*/
.service-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1;
}

.service-info hr {
  margin-bottom: 1rem;
}

.service-info h3 {
  font-size: 14px;

  color: var(--color-text);
}

.service-info p {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.time {
  color: #454545;
}

.price ins {
  text-decoration: none; /* elimina el subrayado */
  color: #000000; /* color destacado */
  font-weight: 600;
  font-size: 15px;
  margin-right: 0.2rem;
}

.submit {
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 10px;

  width: auto;
  height: 40px;
  line-height: 1;

  letter-spacing: -0.04em;
}
@media (max-width: 700px) {
  .service-card {
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
  }

  .submit {
    align-self: center;
  }
}
