.services-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}

.services-header .primary-button {
  width: 45px;
  align-self: self-end;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.primary-button i {
  font-size: 1.5rem;
}
