@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

@import "./themes/light.css";
/* @import "./themes/dark.css"; */
/* @import "./themes/blue.css"; */

/* ==============================
   RESET
   ============================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==============================
   VARIABLES GLOBALES
   ============================== */

:root {
  /* Tipografía principal */
  --font-primary: "Manrope", sans-serif;

  /* Tipografía secundaria */
  --font-secondary: RoobertPRO, AktivGroteskVF, sans-serif;
}

/* ==============================
   BODY
   ============================== */

body {
  background-color: var(--color-background);
  color: var(--color-text);

  font-family: var(--font-secondary);
}

/* ==============================
   TIPOGRAFÍA PRINCIPAL
   ============================== */

h1,
h2,
h3 {
  font-family: var(--font-primary);
}

/* ==============================
   ELEMENTOS GLOBALES
   ============================== */

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}
