.top-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background: var(--color-surface);*/
    padding-bottom: 2rem;
   
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   /* box-shadow: var(--shadow-card);*/
}

.top-section .search-bar{
  
    width: 80%;
    margin: 0 auto;
}
  




.header{
    background-color: transparent;
}