.button{
    width:auto;

    padding:.5rem 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    border:none;
    border-radius:12px;

    cursor:pointer;
    display:flex;
    align-items:center;
    color:rgb(42, 42, 42);
    background: var(--color-search-box);
    border:1px solid var(--color-card-employee-border);
    box-shadow: var(--shadow-card);
    font-size:1rem;
    font-weight:600;

    transition:.2s;
}

.button:hover{
    filter:brightness(.95);
}

.button:active{
    transform:scale(.98);
}