.logo {
  display: flex;
  align-items: center;

  height: 42px;
  flex-shrink: 0;
}

.logo_text {
  margin: 0;

  font-family: var(--font-primary);
  font-size: 32px;
  font-weight: 800;
  line-height: 1;

  letter-spacing: -0.04em;

  color: var(--color-text);

  cursor: pointer;
}

@media (max-width: 768px) {
  .logo_text {
    font-size: 28px;
  }
}
