.Schedule-Row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Schedule-Row p{
    color: var(--color-text);
}

.Schedule-Row button{
    border:1px solid var(--color-search-box-border);
    background-color: var(--color-button-search);
    text-decoration: none;
    width: 45px;
    height: 45px;
    border-radius: 7px;
    color: var(--color-text-search);
}

.Schedule-Row i{
    font-size: 1.5rem;
    
}