.Employee-Caroucel
{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.Employee-card {
    width: 150px;
   
   
    
}

.Employee-track {
    display: flex;
   
    flex-direction: row;
   gap: 0.5rem;
   overflow-x:auto;
    overflow-y:hidden;
    scrollbar-width: none;  
      border-radius:10px;
}

