.employee-card {
  padding: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  border-radius: 10px;
  flex-shrink: 0;

  transition: all 0.2s ease;

  gap: 0.5rem;
}

.employee-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.employee-info span {
  margin: 0;
  font-size: 17px;
  line-height: 1.2;
}

.employee-info p {
  margin: 0;
  font-size: 14px;
  line-height: 1.1;
}

/* Imagen */
.employee-card img {
  max-width: 80px;
  height: auto;
  border-radius: 50%;
}

/* Estado seleccionado */
.employee-card.selected {
  background: var(--color-search);
  transform: scale(1.03);
}

.employee-card.selected .employee-info span,
.employee-card.selected .employee-info p {
  color: var(--color-text-card);
}

/* Icono cuando no hay imagen */
.employee-icon {
  font-size: 56px;
}

.employee-card.selected .employee-icon {
  color: var(--color-text-card);
}

@media (max-width: 768px) {
  .employee-icon {
    font-size: 40px;
  }

  .employee-info span {
    font-size: 16px;
  }

  .employee-info p {
    font-size: 14px;
  }
}
