.Employee-Caroucel {
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: flex-start;

  gap: 0.5rem;

  overflow-x: auto;
  overflow-y: hidden;

  scrollbar-width: none;
}

.Employee-Caroucel::-webkit-scrollbar {
  display: none;
}
