.reservation-navegation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn-back {
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 5px 20px;

  display: flex;
  align-items: center;
  gap: 4px;
}

.reservation-navegation .btn-next {
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text);
  border-radius: 10px;
  color: var(--color-text-card);

  display: flex;
  gap: 4px;
}

.btn-back i,
.btn-next i {
  font-size: 20px;
  line-height: 1;
}
.success-navigation {
  justify-content: center;
}

.reservation-navegation {
  display: flex;
  justify-content: space-between;
}

.reservation-navegation.only-next {
  justify-content: flex-end;
}

.not-visible {
  display: none;
}

.reservation-navegation button:disabled {
  cursor: not-allowed;
  background: var(--color-disable);
  color: var(--color-text-card);
}

.reservation-navegation button {
  width: auto;
}
