.reservation {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: rgb(248, 246, 246);

  overflow: hidden;
}

.reservation .logo span {
  font-size: 1.5rem;
  font-weight: 600;
}
.reservation-scroll {
  flex: 1;
  min-height: 0;

  width: 100%;

  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.reservation-content {
  width: 100%;
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: 1em;
}

.confirm-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-navegation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.success-navigation {
  justify-content: center;
}
